<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{$ctrl.nr.name}}</h3>
    </div>
    <div class="panel-body">
        <div ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
            <image ng-if="!$ctrl.etat" src="images/dropzone.png" width="400" height="350"/>
            <image ng-if="$ctrl.etat" src="images/media_icon.jpg" width="400" height="350"/>
        </div>
        <div class="btn-group btn-default" style="width: 300px; padding-left: 10px">
            <a href="#" class="btn btn-default" ng-click="$ctrl.play()"><image src="images/play.svg" ng-click="$ctrl.play()" width="40" height="40"/></a>
            <a href="#" class="btn btn-default" ng-click="$ctrl.pause()"><image src="images/pause.svg" ng-click="$ctrl.pause()" width="40" height="40"/></a>
            <a href="#" class="btn btn-default" ng-click="$ctrl.stop()"><image src="images/stop.svg" ng-click="$ctrl.stop()" width="40" height="40"/></a>
            <md-slider class="col-md-offset-9  "  ng-change="$ctrl.setVolume()" flex="" min="0" max="100" ng-model="volume" aria-label="volume" id="volume-slider" md-horizontal md-range></md-slider>
        </div>
    </div>
</div>