<h2>{{$ctrl.title}}</h2>
<section class="col-lg-2">
    <h4>Liste des serveurs UPnP/DLNA</h4>
    <div class="list-group">
        <m1m-browser class="list-group" ng-repeat="server in $ctrl.mediaServers" nh="server" dir="server"></m1m-browser>
    </div>
</section>

<section class="col-lg-6">
    <h4>Liste des lecteurs UPnP/DLNA</h4>
    <select ng-model="model" ng-change="$ctrl.rendererSwitch()" ng-options='renderer.name for renderer in $ctrl.mediaRenderers'>
    </select>
    <m1m-renderer nr="$ctrl.renderer"></m1m-renderer>
</section>

